/* Place CSS styles here */

body {
  background-image: url("img/fight.jpg");
  background-color: rgb(228, 124, 97);
  font-family: halcom, sans-serif;
  padding:12px 24px;

} 

.background {
  background-image: url(./img/images/Nemo.jpg);
  background-size: cover;
  background-position: bottom;
  min-height: 100vh;
}

h1 {
  font-family: octin-vintage, sans-serif;
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 5px 4px 7px #48b2cb;
  display:flex;
  justify-content: center;
}

h2 {
    margin: 0;
    padding-bottom: 20pt;
    font-family: octin-sports, sans-serif;
    font-size: 25pt;
    color: rgb(3, 3, 3);
    text-shadow: 2px 5px 2px rgb(219, 117, 165);
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 767px) 
  .background {
    background-image: url();
  }

@media screen and (min-width: 768px) 


/* sword code*/



/* sword code end*/



@media screen and (min-width: 480px) {
  body {
    background-image: (images/fight.jpg)
  }
}

.buttons {
  display: flex;
  padding 50px;
}

@media screen and (max-width: 767px) {
  .buttons {
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .buttons {
    flex-direction: row;
  }
}
