/* Place CSS styles here */

body {
  background-image: url("img/fight.jpg");
  background-color: rgb(228, 124, 97);
  font-family: halcom, sans-serif;
  padding:12px 24px;

} 

h1 {
  font-family: octin-vintage, sans-serif;
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 5px 4px 7px #48b2cb;
  display:flex;
  justify-content: center;
}

.entire-page {
  display:flex;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) {
  .buttons {
    font-size: 14px;
  }
}

/* sword code*/



/* sword code end*/



@media screen and (min-width: 480px) {
  body {
    background-color: olive(238, 219, 111);
  }
}

.buttons {
  display: flex;
  padding 50px;
}

@media screen and (max-width: 767px) {
  .buttons {
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .buttons {
    flex-direction: row;
  }
}
