/* Place CSS styles here */

body {
  background-color: rgb(228, 124, 97);
  background-image: url('/images/fight.jpg');
  background-position: center;
  background-size: cover;
  font-family: halcom, sans-serif;
  padding:12px 24px;

} 

h1 {
  font-family: octin-vintage, sans-serif;
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 5px 4px 7px #cb4899;
  display:flex;
  justify-content: center;
  color: wheat;
}
.lyrics-wrapper {
  color:white;
  padding-top: 20pt;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  line-height: 50px;
  padding-bottom: 20px;
  text-align: center;
  font-size: larger;
}

h2 {
    margin: 0;
    padding-bottom: 20pt;
    font-family: octin-sports, sans-serif;
    font-size: 25pt;
    color: rgb(255, 255, 255);
    text-shadow: 2px 5px 2px rgb(219, 117, 165);
    display: flex;
    justify-content: center;
}
.fighting-design{
  font-family: sneakers-pro, sans-serif;
  font-weight: 500;
  font-style: italic;
}

.promise-design{
  font-family: canvas-script, sans-serif;
  font-weight: 200;
  font-style: normal;
}

.love-design{
  font-family: memoriam-inline-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.darkest-design{
  font-family: bmx-radical, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.night-design{
  font-family: rhythm-two, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.faith-design{
  font-family: nelson-rugged, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.weak-design{
  font-family: monte-stella-turbo, sans-serif;
  font-weight: 300;
  font-style: normal;
}

/* */
@media screen and (max-width: 767px) 
  {
  
  }

@media screen and (min-width: 768px) 


@media screen and (min-width: 480px)
 {
 
}

@media screen and (max-width: 767px) {
}

@media screen and (min-width: 768px) {

}
